<h1>Naruto SHIPPUDDEN</h1>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th>caracteristique</th>
  </tr>
  <tr>
    <td><img src="{{data.img}}" width="100px" /></td>
    <td>{{data.nom}}</td>
    <td>{{data.Caracteristics}}</td>
  </tr>
</table>


<br /><br />
<hr />
<br /><br />


<div>
  <!-- this header tag displays only when user is logged-in -->
  <h1 *ngIf="authService.user | async">
    Welcome User: {{ (authService.user | async)?.email }}!
  </h1>

  <!-- this div displays only when user is not-logged-in -->
  <div *ngIf="!(authService.user | async)">
    <!-- these input fields takes email and password from user -->
    <input type="text" [(ngModel)]="email" placeholder="Enter email"/>
    <input type="password" [(ngModel)]="password" placeholder="Enter password"/>

    <!-- user click this button to signup -->
    <button (click)="signup()" [disabled]="!email || !password">
      Signup
    </button>


    <!-- user click this button to login -->
    <button (click)="login()" [disabled]="!email || !password">
      Login
    </button>
  </div>

  <!-- user click this button to logout -->
  <!-- this button displays only when user is logged-in -->
  <button (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>
</div>
<router-outlet></router-outlet>
